### Calculations of energy use in peaker plants to determine percentage of energy consumption that could be displaced if replaced with a cleaner grid energy alternative, flow batteries

#### States included in analysis (Data from https://www.psehealthyenergy.org/our-work/energy-storage-peaker-plant-replacement-project/
- Florida
- Massachusetts
- Nevada
- New Jersey
- New Mexico
- New York
- Texas
- California
- Arizona

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Import all peaker plant data into pandas dataframes

In [2]:
df_FL = pd.read_csv('Florida.csv')
df_NV = pd.read_csv('Nevada.csv')
df_NJ = pd.read_csv('New-Jersey.csv')
df_NM = pd.read_csv('New-Mexico.csv')
df_NY = pd.read_csv('New-York.csv')
df_TX = pd.read_csv('Texas.csv')
df_CA = pd.read_csv('California.csv')
df_AZ = pd.read_csv('Arizona.csv')
df_MA = pd.read_csv('Massachusetts.csv')

### important peaker plant characteristics necessary for analysis are:
- MW
- Capacity Factor
- Nox_lbs/MWh
- Population

In [3]:
df_FL.head()

,Name (EIA ID),Status,County,Fuel,MW,Age,Capacity_Factor,Run_hours/start,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,percent_non-white,percent_low-income,CVI
0,Auburndale,Proposed,Polk,Natural,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"35,584",48%,52%,216.0
1,Repower (676),NaN,NaN,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Avon Park (67),Unknown;,Highlands,Natural,67,52.0,0.60%,NaN,17.7,1.1,6.4,NaN,"15,885",56%,58%,183.0
3,NaN,retiring?,NaN,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bayboro (627),Operating,Pinellas,Oil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_arr = [df_FL,df_NV,df_NJ,df_NM,df_NY,df_TX,df_CA,df_AZ,df_MA] #array of all dataframes

In [5]:
for df in df_arr:
    print('there are {} columns'.format(df.shape[1]))

there are 16 columns
there are 16 columns
there are 17 columns
there are 16 columns
there are 18 columns
there are 16 columns
there are 17 columns
there are 16 columns
there are 17 columns

In [6]:
df_NV.head()

,Name (EIA ID),Status,County,Fuel,MW,Age,Capacity_Factor,Run_hours/start,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,percent_non-white,percent_low-income,CVI
0,Clark (GT unit) 12(2322),Operating,Clark,Natural gas,797,47,4.70%,6.7,10.8,0.6,0.3,7.70%,"133,802",55%,37%,222.0
1,Harry Allen13 (-7082),Operating,Clark,Natural gas,187,25,4.80%,7.7,11.7,0.7,0.3,4.80%,0,NaN,NaN,NaN
2,Sun Peak Generating Station (54854),Operating,Clark,Natural gas,222,29,1.30%,5.4,12.8,0.8,1.8,10.50%,"137,033",70%,46%,235.0
3,Tracy (GT unit) 14(2336),Operating,Storey,Natural gas,170,59,8.40%,13.1,13.0,0.8,0.4,6.80%,16,14%,15%,53.0
4,Tracy (steam unit) 15(2336),Operating,Storey,Natural gas,120,57,10.30%,39.1,11.5,0.7,1.6,5.70%,16,14%,15%,53.0

In [7]:
df_NJ.head()

,Name (EIA ID),Status,County,Fuel,MW,Load,Age,Capacity_Factor,Run_hours/start,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,percent_non-white,percent_low-income,CVI
0,Burlington,Operating,Burlington,Natural,242.0,PSEG,53.0,2.00%,3.8,9.8,0.6,1.0,7.90%,"75,794",48%,28%,214
1,Generating,NaN,NaN,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-60,-65,NaN
2,Station (2399),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Carll’s Corner,Operating,Upper,Natural,84.0,AECO,47.0,1.80%,5.8,24.3,1.5,17.8,3.90%,"25,279",69%,51%,202
4,-2379,NaN,Deerfield,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-74,-87,NaN

In [8]:
df_CA.columns

Index(['Name (EIA ID)', 'Status', 'County', 'Fuel', 'MW',
       'Local_reliability_area', 'Age', 'Capacity_Factor', 'Run_hours/start',
       'Heat_rate_MMBtu/MWh', 'CO2_tons/MWh', 'Nox_lbs/MWh',
       'MWh_high_ozone_days', 'Pop.', 'percent_non-white',
       'percent_low-income', 'CEW'],
      dtype='object')

In [9]:
dropcols = ['Status', 'Age','Run_hours/start','percent_non-white','percent_low-income']

In [10]:
### DOESN"T AFFECT ORIGINALS...UNLESS INPLACE = TRUE

for df in df_arr:
    df.drop(columns = dropcols,inplace = True)

In [11]:
df_FL

,Name (EIA ID),County,Fuel,MW,Capacity_Factor,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,CVI
0,Auburndale,Polk,Natural,130,NaN,NaN,NaN,NaN,NaN,"35,584",216.0
1,Repower (676),NaN,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Avon Park (67),Highlands,Natural,67,0.60%,17.7,1.1,6.4,NaN,"15,885",183.0
3,NaN,NaN,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bayboro (627),Pinellas,Oil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
108,unit) 32(673),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,Tom G Smith,Palm,Oil,27,1.20%,16.5,1.0,4.1,0%,"107,992",190.0
110,(steam turbine,Beach,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,unit) 34(673),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Winston (7997),Polk,Oil,50,0%,NaN,NaN,NaN,NaN,"26,193",215.0

### Now, with dropped columns, need to remove plants with missing relevant data
- dropNA IF missing MW, Capacity Factor,

In [12]:
#drop row if missing information in specific column
# save number of rows before dropping
numRows = []
for df in df_arr:
    numRows.append(df.shape[0])
numRows#before cleaned docs [51, 5, 36, 28, 124, 198, 126, 19]

[113, 5, 36, 28, 124, 198, 126, 19, 60]

In [13]:
subsetCols = ['MW','Capacity_Factor','CO2_tons/MWh','Heat_rate_MMBtu/MWh','Nox_lbs/MWh']

In [14]:
numRowsAfter = []
for df in df_arr:
    df.dropna(subset = subsetCols, axis = 0, inplace = True)
    numRowsAfter.append(df.shape[0])
numRowsAfter #before cleaned docs[50, 5, 15, 11, 49, 59, 50, 16]

[28, 5, 15, 11, 49, 61, 54, 16, 22]

In [15]:
numRowsRemoved = []
for i in range(len(numRows)):
    numRowsRemoved.append(numRows[i]-numRowsAfter[i])

numRowsRemoved#before cleaned docs[1, 0, 21, 17, 75, 139, 76, 3]

[85, 0, 21, 17, 75, 137, 72, 3, 38]

In [16]:
#Total # of peaker plants analyzed 
print(sum(numRowsAfter))
print(sum(numRows))

261
709

### Moving on to calculations
- CO2 consumption per plant = 
- Heat?
- NOX
## CO2
- CO2 * MW * CAPACITYFACTOR
MW * Capacity Factor * time in year = CO2tons/year

In [17]:
df_CA.head()

,Name (EIA ID),County,Fuel,MW,Local_reliability_area,Capacity_Factor,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,CEW
0,Agua Mansa (-55951),San Bernardino,Natural gas,61,LA Basin,1.80%,9.8,0.58,0.17,59%,"67,236",98*
2,Alamitos (315),Los Angelos,Natural gas,1970,LA Basin,5.50%,12.3,0.73,0.11,54%,"119,565",95*14
3,Almond Power Plant (7315),Stanislaus,Natural gas,223,NaN,8.40%,9.8,0.59,0.10,%,"52,274",81*
4,Anaheim CT (7693),Orange,Natural gas,49,LA Basin,12.30%,9.5,0.57,0.20,35%,"169,119",75*
5,Barre Peaker (-56474),Orange,Natural gas,49,LA Basin,7.60%,9.8,0.58,0.10,35%,"278,142",87*

In [18]:
for df in df_arr:
    df.reset_index(inplace=True)

In [19]:
df_CA

,index,Name (EIA ID),County,Fuel,MW,Local_reliability_area,Capacity_Factor,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,CEW
0,0,Agua Mansa (-55951),San Bernardino,Natural gas,61,LA Basin,1.80%,9.8,0.58,0.17,59%,"67,236",98*
1,2,Alamitos (315),Los Angelos,Natural gas,1970,LA Basin,5.50%,12.3,0.73,0.11,54%,"119,565",95*14
2,3,Almond Power Plant (7315),Stanislaus,Natural gas,223,NaN,8.40%,9.8,0.59,0.10,%,"52,274",81*
3,4,Anaheim CT (7693),Orange,Natural gas,49,LA Basin,12.30%,9.5,0.57,0.20,35%,"169,119",75*
4,5,Barre Peaker (-56474),Orange,Natural gas,49,LA Basin,7.60%,9.8,0.58,0.10,35%,"278,142",87*
5,6,CalPeak Power-Border (-55513),San Diego,Natural gas,50,San Diego,2.80%,10.7,0.63,0.10,19%,"7,801",56
6,7,CalPeak Power-Enterprise (-55508),San Diego,Natural gas,50,San Diego,2.90%,10.6,0.62,0.20,19%,"109,861",37
7,8,CalPeak Power-Panoche (-55499),Frenso,Natural gas,50,NaN,3.70%,10.9,0.64,0.10,41%,90,95*
8,9,CalPeak Power-Vaca Dixon (-55499),Solano,Natural gas,50,NaN,2.60%,10.9,0.63,0.10,19%,"13,938",61
9,10,Canyon Power Plant (57027),Orange,Natural gas,200,LA Basin,9.20%,10.2,0.60,0.10,41%,"176,991",75*
10,12,Center Peaker (-56475),Los Angelos,Natural gas,49,LA,4.70%,10.2,0.61,0.10,42%,"246,567",85*
11,15,Chula Vista Energy Center (55540),San Diego,Natural gas,44,San Diego,0.80%,26.0,1.50,0.50,23%,"196,455",65
12,18,Creed Energy Center (55625),Solano,Natural gas,47,Greater Bay Area,3.00%,11.3,0.67,0.20,9%,152,74
13,19,Cuyamaca Peak (Energy Plant) (-55512),San Diego,Natural gas,47,San Diego,2.70%,10.9,0.64,0.10,12%,"158,011",87*
14,20,Delano Energy Center (55625),Solano,Natural gas,47,Greater Bay Area,1.80%,11.2,0.66,0.10,39%,"28,699",89*
15,22,El Cajon Energy Center (57001),San Diego,Natural gas,50,San Diego,3.20%,10.6,0.63,0.20,14%,"158,028",87*
16,24,Escondido Energy Center (55538),San Diego,Natural gas,50,San Diego,7.90%,10.3,0.61,0.08,14%,"133,202",37
17,25,Etiwanda Peaker (Grapeland) (-56472),San Bernardino,Natural gas,49,LA,5.50%,10.0,0.59,0.10,32%,"80,175",76*
18,26,Feather River Energy Center (-55847),Sutter,Natural gas,48,Sierra,7.00%,11.5,0.68,0.90,21%,"61,052",57
19,28,Gilroy Energy Center (55810),Santa Clara,Natural gas,141,Greater Bay Area,2.00%,11.7,0.70,0.40,7%,"27,115",89*
20,29,Glenarm (422),Los Angelos,Natural gas,249,LA Basin,3.10%,10.5,0.62,0.70,37%,"232,462",18
21,30,Goose Haven Energy Center (-55627),Solano,Natural gas,48,Greater,3.00%,11.5,0.68,0.20,8%,159,74
22,31,Grayson (377),Los Angelos,Natural gas,287,NaN,5.50%,12.9,0.90,0.40,34%,"204,896",99*
23,32,Hanford Energy Park Peaker (-55698),Kings,Natural gas,92,Greater Fresno,2.60%,10.5,0.65,0.90,52%,"7,600",64
24,33,Harbor Generating Station (399),Los Angelos,Natural gas,548,NaN,0.70%,9.9,0.58,0.30,49%,"130,575",97*
25,34,Huntington Beach (-335),Orange,Natural gas,430,LA Basin,10.60%,11.7,0.70,0.10,55%,"105,604",4
26,36,Inland Empire Energy Center (-55853),Riverside,Natural gas,405,LA Basin,9.30%,7.0,0.42,0.04,75%,"31,561",62
27,38,Lake 1 (7987),Los Angelos,Natural gas,61,NaN,2.70%,10.4,0.62,0.20,61%,"156,883",76*
28,39,Lambie Energy Center (55626),Solano,Natural gas,48,Greater Bay Area,3.10%,11.3,0.67,0.20,8%,166,74
29,40,Larkspur Energy (-55542),San Diego,Natural gas,90,San Diego,6.10%,10.0,0.59,0.20,17%,"7,916",56
30,42,Lodi CC (NCPA STIG) (7449),San Joaquin,Natural gas,50,Sierra,2.00%,8.1,0.48,0.10,67%,"8,644",65
31,43,Long Beach Generation (341),Los Angelos,Natural gas,260,LA Basin,1.20%,16.7,0.99,0.50,43%,"130,535",99*15
32,44,Los Esteros Critical Energy Facility (-55748),Santa Clara,Natural gas,309,Greater Bay Area,9.70%,7.9,0.47,0.06,6%,"98,882",82*
33,45,Malaga Peaking Plant (56239),Fresno,Natural gas,98,Greater Fresno,3.10%,10.2,0.61,0.20,60%,"44,557",99*
34,46,Mariposa Energy -57483,Alameda,Natural gas,200,Greater Bay Area,6.80%,10.2,0.60,0.13,6%,"3,821",41
35,47,Marsh Landing Generating Center (-57267),Contra Costa,Natural gas,828,Greater,2.20%,11.2,0.66,0.08,5%,"51,781",74
36,50,McGrath Peaker (-56471),Ventura,Natural gas,49,Creek/Ventura,8.10%,9.7,0.58,0.10,12%,"33,795",89*
37,51,MID Ripon (56135),San JOaquin,Natural gas,100,NaN,7.10%,10.5,0.62,0.09,46%,"28,511",57
38,52,Midway-Starwood Power (56639),Fresno,Natural gas,120,NaN,5.10%,11.1,0.66,0.20,33%,91,95*
39,53,Mira Loma Peaker -56473,San Bernardino,Natural gas,49,LA Basin,6.50%,9.8,0.58,0.10,26%,91,95*
40,55,NaN,NaN,Natural,95,NaN,13.40%,9.8,0.58,0.20,11%,"58,049",79*
41,58,Niland Gas Turbine,Imperial,Natural,121,NaN,6.90%,9.6,0.57,0.06,22%,"1,412",6716
42,61,NaN,NaN,Jet fuel,224,NaN,0.20%,15.5,0.20,7.40,NaN,"196,253",7217
43,70,NaN,NaN,Natural,100,NaN,4.80%,10.4,0.62,0.20,15%,"2,303",20
44,73,Ormond Beach,Ventura,Natural,"1,613",Creek/,1.30%,11.4,0.68,0.09,44%,"59,074",83*
45,77,Panoche Energy,Fresno,Natural,400,NaN,15%,9.0,0.54,0.10,40%,93,95*
46,80,NaN,NaN,Natural,300,NaN,4.90%,9.5,0.57,0.12,10%,"7,689",56
47,85,NaN,NaN,Natural,"1,310",NaN,3.30%,12.4,0.74,0.50,66%,"16,462",59
48,89,NaN,NaN,Natural,192,NaN,5.30%,10.1,0.60,0.10,50%,"115,673",84*
49,93,NaN,NaN,Natural,47,NaN,4.70%,11.1,0.66,0.20,7%,"62,292",74
50,101,NaN,NaN,Natural,800,NaN,7.90%,9.6,0.57,0.10,17%,"2,478",32
51,109,Sutter Energy,Sutter,Natural,578,NaN,4.30%,6.7,0.40,0.07,30%,915,54
52,117,NaN,NaN,Natural,500,NaN,9.50%,9.0,0.54,0.10,38%,"167,639",86*
53,122,Wolfskill Energy,Solano,Natural,48,NaN,3.40%,11.2,0.67,0.20,9%,"30,608",73

In [20]:
plant_CO2 = []
ind_CO2_CA = []
CA_CO2_sum = 0
for i in range(len(df_CA)):
    #multiply some numbers
    if (',' in df_CA['MW'][i]):
        df_CA['MW'][i] = df_CA['MW'][i].replace(',', '')
    if (('%') in df_CA['Capacity_Factor'][i]):
        df_CA['Capacity_Factor'][i] = df_CA['Capacity_Factor'][i].replace('%','')
    ind_CO2_CA.append(int(df_CA['MW'][i])*float(df_CA['CO2_tons/MWh'][i])*float(df_CA['Capacity_Factor'][i])/100*24*365*1)
    CA_CO2_sum += float(df_CA['MW'][i])*float(df_CA['CO2_tons/MWh'][i])*float(df_CA['Capacity_Factor'][i])/100*24*365*1
#     print(df_CA['MW'][i])
#     print(float(df_CA['MW'][i])*float(df_CA['CO2_tons/MWh'][i])*float(df_CA['Capacity_Factor'][i])/100*24*365*1) #hours/day*days/yr*1 yr

print(CA_CO2_sum)
plant_CO2.append(CA_CO2_sum)
ind_CO2_CA

3821485.088399999

<ipython-input-20-998057fe1454>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CA['Capacity_Factor'][i] = df_CA['Capacity_Factor'][i].replace('%','')
<ipython-input-20-998057fe1454>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CA['MW'][i] = df_CA['MW'][i].replace(',', '')

[5578.718399999999,
 692876.5799999998,
 96814.46880000002,
 30094.0164,
 18920.899199999996,
 7726.32,
 7875.239999999999,
 10371.840000000002,
 7174.4400000000005,
 96710.4,
 12306.3108,
 4625.280000000001,
 8275.572,
 7114.521600000001,
 4891.233600000001,
 8830.08,
 21107.22,
 13928.838,
 20014.848,
 17292.239999999998,
 41923.4328,
 8577.792000000001,
 124448.94,
 13620.048000000003,
 19489.9488,
 279496.56,
 138577.068,
 8945.186399999999,
 8733.3696,
 28374.515999999996,
 4204.8,
 27057.888,
 123404.83559999998,
 16233.8568,
 71481.6,
 105317.62560000001,
 20165.6952,
 38561.52,
 35383.39199999999,
 16182.348,
 64678.583999999995,
 41688.226800000004,
 784.8960000000001,
 26069.76,
 124908.13920000003,
 283823.99999999994,
 73400.04000000001,
 280234.15199999994,
 53485.05599999999,
 12771.5544,
 315570.23999999993,
 87088.41600000001,
 224693.99999999997,
 9578.534400000002]

In [21]:
# #calculate everything
# plant_CO2 = [] #Tons

# for df in df_arr:
#     for i in range(len(df)):
#     #multiply some numbers
#         if (',' in df['MW'][i]):
#             df['MW'][i] = df['MW'][i].replace(',', '')
#         if (('%') in df['Capacity_Factor'][i]):
#             df['Capacity_Factor'][i] = df['Capacity_Factor'][i].replace('%','')
        

#             print(float(df['MW'][i])*float(df['CO2_tons/MWh'][i])*float(df['Capacity_Factor'][i])/100*24*365*1) #hours/day*days/yr*1 yr

calculate one at a time

- df_FL = pd.read_csv('Florida.csv')
- df_NV = pd.read_csv('Nevada.csv')
- df_NJ = pd.read_csv('New-Jersey.csv')
- df_NM = pd.read_csv('New-Mexico.csv')
- df_NY = pd.read_csv('New-York.csv')
- df_TX = pd.read_csv('Texas.csv')
- df_CA = pd.read_csv('California.csv')
- df_AZ = pd.read_csv('Arizona.csv')
- df_MA

In [22]:
# Florida
FL_CO2_sum = 0
ind_CO2_FL = []
for i in range(len(df_FL)):
    #multiply some numbers
    if (',' in df_FL['MW'][i]):
        df_FL['MW'][i] = df_FL['MW'][i].replace(',', '')
    if (('%') in df_FL['Capacity_Factor'][i]):
        df_FL['Capacity_Factor'][i] = df_FL['Capacity_Factor'][i].replace('%','')
#     print(df_FL['Capacity_Factor'][i])
    ind_CO2_FL.append(int(df_FL['MW'][i])*float(df_FL['CO2_tons/MWh'][i])*float(df_FL['Capacity_Factor'][i])/100*24*365*1)
    FL_CO2_sum += int(df_FL['MW'][i])*float(df_FL['CO2_tons/MWh'][i])*float(df_FL['Capacity_Factor'][i])/100*24*365*1
#     
print(FL_CO2_sum) #2627408.7 tons
ind_CO2_FL

2627408.6999999997

<ipython-input-22-8dcb9dcdb4bf>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_FL['Capacity_Factor'][i] = df_FL['Capacity_Factor'][i].replace('%','')
<ipython-input-22-8dcb9dcdb4bf>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_FL['MW'][i] = df_FL['MW'][i].replace(',', '')

[3873.672,
 4772.447999999999,
 9450.287999999999,
 63203.4,
 2060.352,
 83871.744,
 6096.96,
 143366.16,
 2459.808,
 186235.848,
 41207.04000000001,
 17856.384,
 20104.2,
 18929.483999999997,
 318765.88800000004,
 38894.4,
 515.088,
 0.0,
 218225.616,
 1186075.9679999999,
 131163.48000000004,
 3258.7200000000003,
 97523.32799999998,
 25281.360000000004,
 735.84,
 154.176,
 488.80800000000005,
 2838.24]

In [23]:
# Nevada
NV_CO2_sum = 0
ind_CO2_NV = []
for i in range(len(df_NV)):
    #multiply some numbers
#     if (',' in df_NV['MW'][i]):
#         df_NV['MW'][i] = df_NV['MW'][i].replace(',', '')
    if (('%') in df_NV['Capacity_Factor'][i]):
        df_NV['Capacity_Factor'][i] = df_NV['Capacity_Factor'][i].replace('%','')
#     print(df_FL['Capacity_Factor'][i])
    ind_CO2_NV.append(int(df_NV['MW'][i])*float(df_NV['CO2_tons/MWh'][i])*float(df_NV['Capacity_Factor'][i])/100*24*365*1)
    NV_CO2_sum += int(df_NV['MW'][i])*float(df_NV['CO2_tons/MWh'][i])*float(df_NV['Capacity_Factor'][i])/100*24*365*1
#     
print(NV_CO2_sum)

448016.184

<ipython-input-23-bd994ad8f0f0>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NV['Capacity_Factor'][i] = df_NV['Capacity_Factor'][i].replace('%','')

In [24]:
#New Jersey
NJ_CO2_sum = 0
ind_CO2_NJ = []
for i in range(len(df_NJ)):
    #multiply some numbers
#     if (',' in df_NJ['MW'][i]):
#         df_NJ['MW'][i] = df_NJ['MW'][i].replace(',', '')
    if (('%') in df_NJ['Capacity_Factor'][i]):
        df_NJ['Capacity_Factor'][i] = df_NJ['Capacity_Factor'][i].replace('%','')
#     print(df_FL['Capacity_Factor'][i])
    ind_CO2_NJ.append(int(df_NJ['MW'][i])*float(df_NJ['CO2_tons/MWh'][i])*float(df_NJ['Capacity_Factor'][i])/100*24*365*1)
    NJ_CO2_sum += int(df_NJ['MW'][i])*float(df_NJ['CO2_tons/MWh'][i])*float(df_NJ['Capacity_Factor'][i])/100*24*365*1
#     
print(NJ_CO2_sum) #2627408.7 tons
ind_CO2_NJ

669645.9359999999

<ipython-input-24-979cf7e1a225>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NJ['Capacity_Factor'][i] = df_NJ['Capacity_Factor'][i].replace('%','')

[25439.04,
 19867.68,
 82965.95999999999,
 5928.767999999999,
 7554.623999999999,
 4513.152000000001,
 225771.47999999995,
 40366.08,
 9329.4,
 203317.84799999994,
 1677.5400000000004,
 4457.088,
 315.35999999999996,
 37219.488000000005,
 922.4279999999999]

In [25]:
#New Mexico
NM_CO2_sum = 0
ind_CO2_NM = []
for i in range(len(df_NM)):
    #multiply some numbers
#     if (',' in df_NJ['MW'][i]):
#         df_NJ['MW'][i] = df_NJ['MW'][i].replace(',', '')
    if (('%') in df_NM['Capacity_Factor'][i]):
        df_NM['Capacity_Factor'][i] = df_NM['Capacity_Factor'][i].replace('%','')
#     print(df_FL['Capacity_Factor'][i])
    ind_CO2_NM.append(int(df_NM['MW'][i])*float(df_NM['CO2_tons/MWh'][i])*float(df_NM['Capacity_Factor'][i])/100*24*365*1)
    NM_CO2_sum += int(df_NM['MW'][i])*float(df_NM['CO2_tons/MWh'][i])*float(df_NM['Capacity_Factor'][i])/100*24*365*1
#     
print(NM_CO2_sum) #876548.38
ind_CO2_NM

876548.3759999999

<ipython-input-25-ab24fc2aabfa>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NM['Capacity_Factor'][i] = df_NM['Capacity_Factor'][i].replace('%','')

[16660.644,
 9050.831999999999,
 23673.9,
 6475.391999999999,
 69365.18400000001,
 406688.25599999994,
 378.43199999999996,
 108597.72,
 103017.6,
 81341.85599999999,
 51298.55999999999]

In [26]:
#NEw York
NY_CO2_sum = 0
ind_CO2_NY = []
for i in range(len(df_NY)):
    #multiply some numbers
#     if (',' in df_NJ['MW'][i]):
#         df_NJ['MW'][i] = df_NJ['MW'][i].replace(',', '')
    if (('%') in df_NY['Capacity_Factor'][i]):
        df_NY['Capacity_Factor'][i] = df_NY['Capacity_Factor'][i].replace('%','')
#     print(df_FL['Capacity_Factor'][i])
    ind_CO2_NY.append(int(df_NY['MW'][i])*float(df_NY['CO2_tons/MWh'][i])*float(df_NY['Capacity_Factor'][i])/100*24*365*1)
    NY_CO2_sum += int(df_NY['MW'][i])*float(df_NY['CO2_tons/MWh'][i])*float(df_NY['Capacity_Factor'][i])/100*24*365*1
#     
print(NY_CO2_sum) #3337551.24
ind_CO2_NY

3337551.2399999998

<ipython-input-26-6fe8d61f3621>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NY['Capacity_Factor'][i] = df_NY['Capacity_Factor'][i].replace('%','')

[126.582,
 476.4564000000001,
 662.256,
 636837.984,
 29084.076,
 919.8,
 630289.884,
 646267.248,
 33843.384,
 1340.28,
 16464.42,
 10596.096,
 1513.7279999999998,
 59392.8,
 123200.63999999998,
 51088.319999999985,
 3179.8800000000006,
 80154.00000000001,
 15697.920000000004,
 23.651999999999997,
 23715.071999999996,
 13245.12,
 23715.071999999996,
 494.0640000000001,
 38741.976,
 1802.8079999999998,
 7694.784000000001,
 69168.95999999999,
 55503.36000000001,
 29643.839999999997,
 266.30400000000003,
 42668.208000000006,
 105.99600000000002,
 26159.112,
 38473.920000000006,
 225951.93600000002,
 36560.736000000004,
 8024.160000000001,
 281789.928,
 441.504,
 3027.4559999999997,
 4905.6,
 188.86560000000006,
 2869.7760000000003,
 2232.048,
 35078.544,
 20727.036000000004,
 2733.12,
 462.52799999999996]

In [27]:
df_NY

,index,Name (EIA ID),(EIA ID),County,Fuel,MW,Load,Capacity_Factor,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,CVI
0,0,59th Street (2503),NaN,New York,Natural,17.0,J,0.05,15.7,1.7,16.90,0%,"1,207,344",176.0
1,3,NaN,NaN,NaN,NaN,37.0,J,0.07,15.9,2.1,11.90,0%,"1,193,966",181.0
2,5,Arthur Kill GT 15,NaN,Richmond,Natural,18.0,J,0.30,15.7,1.4,5.03,6%,"106,582",177.0
3,7,Arthur Kill ST 16,NaN,Richmond,Natural,878.0,J,13.80,10.5,0.6,0.70,5%,"106,582",177.0
4,9,Astoria Gas,NaN,Queens,Natural,527.0,J,0.70,14.8,0.9,7.30,8%,"998,335",223.0
5,13,Astoria Generating,NaN,Queens,Natural,15.0,J,0.70,12.2,1.0,6.60,11%,"1,065,712",218.0
6,16,Astoria Generating,NaN,Queens,Natural,943.0,J,10.90,12.1,0.7,0.70,4%,"1,065,712",218.0
7,19,Bowline Point,NaN,Rockland,Natural,1242.0,G,9.90,10.2,0.6,1.20,2%,"47,063",155.0
8,21,Brentwood*,-7912.0,Su↵olk,Natural,47.0,K,13.70,9.6,0.6,0.10,4%,"93,391",169.0
9,23,Charles P Keller,NaN,Nassau,Natural,34.0,K,0.10,67.0,4.5,188.00,NaN,"209,836",168.0
10,25,Danskammer (2480),NaN,Orange,Natural,537.0,G,0.50,12.1,0.7,1.40,2%,"19,461",133.0
11,28,NaN,NaN,NaN,NaN,21.0,K,4.80,14.8,1.2,8.00,18%,"8,285",98.0
12,30,East Hampton IC21,NaN,Su↵olk,Oil,6.0,K,3.20,10.6,0.9,14.20,NaN,"8,285",98.0
13,32,Edgewood Energy*,NaN,Su↵olk,Natural,100.0,K,11.30,10.1,0.6,0.10,3%,"95,918",170.0
14,34,E.F. Barrett* GT 22,NaN,Nassau,Natural,293.0,K,4.80,16.2,1.0,3.70,7%,"112,543",135.0
15,36,Equus Freeport,NaN,Nassau,Natural,120.0,K,8.10,10.0,0.6,0.10,4%,"136,266",170.0
16,39,NaN,NaN,NaN,NaN,110.0,K,0.30,13.6,1.1,7.20,6%,"77,361",146.0
17,41,Glenwood Landing,NaN,Nassau,Natural,122.0,K,12.50,10.0,0.6,0.10,5%,"79,693",141.0
18,43,Gowanus Gas,NaN,Kings,Natural,640.0,J,0.20,16.2,1.4,5.90,3%,"831,440",197.0
19,46,Greenport (2681),NaN,Su↵olk,Oil,10.0,K,0.03,10.9,0.9,38.00,NaN,"6,961",112.0
20,48,Harlem River Yard,NaN,Bronx,Natural,94.0,J,4.80,10.2,0.6,0.10,8%,"1,227,259",225.0
21,51,NaN,NaN,NaN,NaN,54.0,K,3.50,10.0,0.8,0.30,22%,"6,647",114.0
22,53,Hell Gate (7913),NaN,Bronx,Natural,94.0,J,4.80,10.2,0.6,0.10,8%,"1,160,176",228.0
23,55,Hillburn* (2628),NaN,Rockland,Natural,47.0,G,0.10,20.3,1.2,12.04,0%,"27,821",119.0
24,58,NaN,NaN,NaN,NaN,567.0,K,0.60,16.6,1.3,11.10,9%,"86,798",144.0
25,60,Hudson Avenue,NaN,Kings,Oil,49.0,J,0.30,18.6,1.4,23.80,10%,"1,150,937",190.0
26,63,NaN,NaN,NaN,NaN,61.0,K,1.60,11.1,0.9,9.30,NaN,"126,711",183.0
27,65,Joseph J. Seymour,NaN,Kings,Natural,94.0,J,14.00,10.2,0.6,0.10,4%,"909,470",199.0
28,68,Narrows Generating,NaN,Kings,Natural,352.0,J,1.80,15.8,1.0,5.30,7%,"555,435",191.0
29,72,NaN,NaN,NaN,NaN,47.0,J,12.00,10.0,0.6,0.10,6%,"1,209,568",190.0
30,76,NaN,NaN,NaN,NaN,16.0,K,0.10,23.9,1.9,28.70,7%,"25,768",80.0
31,79,NaN,NaN,NaN,NaN,1804.0,C,0.30,11.8,0.9,2.20,0%,"23,694",148.0
32,81,Plant No 1,NaN,Nassau,Oil,11.0,K,0.10,14.3,1.1,45.20,NaN,"185,261",177.0
33,83,Plant No 2 Freeport,NaN,Nassau,Natural,79.0,K,6.30,10.0,0.6,0.20,5%,"136,266",170.0
34,85,Port Je↵erson GT 24,NaN,Su↵olk,Natural,122.0,K,6.00,9.8,0.6,0.20,14%,"34,448",130.0
35,87,Port Je↵erson ST 25,NaN,Su↵olk,Natural,376.0,K,9.80,10.7,0.7,0.80,14%,"34,448",130.0
36,89,Pouch Terminal,NaN,Richmond,Natural,47.0,J,14.80,10.0,0.6,0.10,6%,"255,079",183.0
37,91,Ravenswood GT* 26,NaN,Queens,Natural,458.0,J,0.20,16.8,1.0,1.60,4%,"1,232,618",178.0
38,95,Roseton Generating,NaN,Orange,Natural,1242.0,G,3.70,10.3,0.7,1.60,1%,"16,333",132.0
39,99,Shoemaker (2632),NaN,Orange,Natural,42.0,G,0.10,20.3,1.2,15.10,0%,"40,982",171.0
40,102,NaN,NaN,NaN,NaN,72.0,K,0.40,15.3,1.2,13.90,NaN,"19,969",100.0
41,105,NaN,NaN,NaN,NaN,100.0,K,0.70,10.1,0.8,0.50,7%,"22,068",102.0
42,107,South Cairo (2485),NaN,Greene,Oil,22.0,G,0.07,17.1,1.4,11.20,NaN,"4,801",84.0
43,110,NaN,NaN,NaN,NaN,12.0,K,1.30,26.3,2.1,23.50,NaN,"8,506",114.0
44,112,Southold (2520),NaN,Su↵olk,Oil,14.0,K,0.70,32.5,2.6,28.80,NaN,"7,406",115.0
45,114,Vernon Boulevard,NaN,Queens,Natural,94.0,J,7.10,9.6,0.6,0.10,6%,"1,264,532",172.0
46,117,NaN,NaN,NaN,NaN,239.0,K,0.90,13.1,1.1,3.80,6%,"22,954",110.0
47,120,NaN,NaN,NaN,NaN,52.0,K,0.50,14.5,1.2,8.20,1%,"130,952",155.0
48,122,West Coxsackie,NaN,Greene,Natural,22.0,G,0.30,13.9,0.8,4.70,NaN,"7,478",125.0

In [28]:
#Texas
TX_CO2_sum = 0
ind_CO2_TX = []
for i in range(len(df_TX)):
    #multiply some numbers
    if (',' in df_TX['MW'][i]):
        df_TX['MW'][i] = df_TX['MW'][i].replace(',', '')
    if (('%') in df_TX['Capacity_Factor'][i]):
        df_TX['Capacity_Factor'][i] = df_TX['Capacity_Factor'][i].replace('%','')
#     print(df_FL['Capacity_Factor'][i])
    ind_CO2_TX.append(float(df_TX['MW'][i])*float(df_TX['CO2_tons/MWh'][i])*float(df_TX['Capacity_Factor'][i])/100*24*365*1)
    TX_CO2_sum += float(df_TX['MW'][i])*float(df_TX['CO2_tons/MWh'][i])*float(df_TX['Capacity_Factor'][i])/100*24*365*1
#     
print(TX_CO2_sum) #6676069.06
ind_CO2_TX

6676069.058399999

<ipython-input-28-d17714679a0c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_TX['Capacity_Factor'][i] = df_TX['Capacity_Factor'][i].replace('%','')
<ipython-input-28-d17714679a0c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_TX['MW'][i] = df_TX['MW'][i].replace(',', '')

[74787.62400000001,
 20435.328,
 37002.240000000005,
 385.44,
 973043.2799999999,
 21286.800000000003,
 33143.46,
 17548.7328,
 91980.0,
 27068.399999999998,
 351058.752,
 10024.2432,
 73912.5,
 224416.4832,
 165627.072,
 61193.85600000001,
 19678.464,
 77839.608,
 27247.104000000003,
 403178.99999999994,
 46070.592,
 282319.7328,
 79875.432,
 164935.47,
 105296.6016,
 77233.7664,
 4485.12,
 4228.9776,
 266510.2104,
 387787.68,
 9997.6128,
 437579.51999999996,
 137749.248,
 31325.76,
 25228.800000000003,
 6706.656000000001,
 9536.486399999998,
 53283.225600000005,
 152613.216,
 4564.0476,
 27502.02,
 101235.816,
 1844.5056,
 201.83040000000008,
 124050.35999999999,
 194514.04799999998,
 16030.800000000001,
 0.0,
 265233.528,
 26537.544,
 9751.632,
 105.12000000000002,
 77638.47839999999,
 29506.483199999995,
 20124.1728,
 6386.040000000001,
 10772.697599999998,
 69253.05600000001,
 334402.488,
 338412.81599999993,
 24379.079999999994]

In [29]:
#Arizona
AZ_CO2_sum = 0
ind_CO2_AZ = []
for i in range(len(df_AZ)):
    #multiply some numbers
#     if (',' in df_AZ['MW'][i]):
#         df_AZ['MW'][i] = df_AZ['MW'][i].replace(',', '')
    if (('%') in df_AZ['Capacity_Factor'][i]):
        df_AZ['Capacity_Factor'][i] = df_AZ['Capacity_Factor'][i].replace('%','')
#     print(df_FL['Capacity_Factor'][i])
    ind_CO2_AZ.append(float(df_AZ['MW'][i])*float(df_AZ['CO2_tons/MWh'][i])*float(df_AZ['Capacity_Factor'][i])/100*24*365*1)
    AZ_CO2_sum += float(df_AZ['MW'][i])*float(df_AZ['CO2_tons/MWh'][i])*float(df_AZ['Capacity_Factor'][i])/100*24*365*1
#     
print(AZ_CO2_sum) #817024.18
ind_CO2_AZ

817024.1759999999

<ipython-input-29-7afb2d73f62e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_AZ['Capacity_Factor'][i] = df_AZ['Capacity_Factor'][i].replace('%','')

[3516.2640000000006,
 79943.76,
 29433.6,
 39430.511999999995,
 99212.256,
 5956.8,
 569.4,
 7947.071999999999,
 2649.024,
 20521.176,
 141980.32799999998,
 28360.499999999996,
 233721.18,
 1702.9440000000002,
 20521.176,
 101558.18400000001]

In [30]:
#massachussets
MA_CO2_sum = 0
ind_CO2_MA = []
for i in range(len(df_MA)):
    #multiply some numbers
#     if (',' in df_MA['MW'][i]):
#         df_MA['MW'][i] = df_MA['MW'][i].replace(',', '')
    if (('%') in df_MA['Capacity_Factor'][i]):
        df_MA['Capacity_Factor'][i] = df_MA['Capacity_Factor'][i].replace('%','')
#     print(df_FL['Capacity_Factor'][i])
    ind_CO2_MA.append(float(df_MA['MW'][i])*float(df_MA['CO2_tons/MWh'][i])*float(df_MA['Capacity_Factor'][i])/100*24*365*1)
    MA_CO2_sum += float(df_MA['MW'][i])*float(df_MA['CO2_tons/MWh'][i])*float(df_MA['Capacity_Factor'][i])/100*24*365*1
#     
print(MA_CO2_sum) #330691.91 tons
ind_CO2_MA

330691.90968000004

<ipython-input-30-1422e648e7c3>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_MA['Capacity_Factor'][i] = df_MA['Capacity_Factor'][i].replace('%','')

[74499.42,
 331.89011999999997,
 2082.4272,
 8568.331199999999,
 351.1884,
 1082.2104000000002,
 407.28744,
 139.40664,
 1994.6519999999998,
 7805.159999999999,
 771.2304,
 171227.86559999996,
 276.72839999999997,
 523.65528,
 5093.063999999999,
 26653.876800000002,
 6395.8949999999995,
 15373.537199999999,
 6408.675840000001,
 367.0790400000001,
 34.53192,
 303.7968]

In [37]:
totalTonsCO2 = FL_CO2_sum+ NV_CO2_sum+ NJ_CO2_sum+ NM_CO2_sum+ NY_CO2_sum+ TX_CO2_sum+ CA_CO2_sum+AZ_CO2_sum+MA_CO2_sum#261 plants\
print(totalTonsCO2) #19.604 million
extrapolatedTotalTons = totalTonsCO2*1000/261
percent = extrapolatedTotalTons/1720000000#percent assuming total CO2 generation 1.72 billion tons
print(percent)

19604440.668479998
0.04367023226516974

### Percent CO2 = 4.36% of total US CO2 Generation assuming flow battery peaker plants require no CO2 generation

In [32]:
df_FL = pd.read_csv('Florida.csv')
df_NV = pd.read_csv('Nevada.csv')
df_NJ = pd.read_csv('New-Jersey.csv')
df_NM = pd.read_csv('New-Mexico.csv')
df_NY = pd.read_csv('New-York.csv')
df_TX = pd.read_csv('Texas.csv')
df_CA = pd.read_csv('California.csv')
df_AZ = pd.read_csv('Arizona.csv')
df_MA

,index,Name (EIA ID),County,Fuel,MW,Load,Capacity_Factor,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,CVI
0,0,Canal (6125),Sandwich,Oil,1165.0,SEMA,1.00,9.8,0.73,1.1,0.80%,"9,437",113.0
1,5,NaN,NaN,NaN,17.3,NaN,0.30,10.3,0.73,"13,616",NaN,28.7,152.0
2,7,Cleary Flood,Taunton,Natural,28.3,SEMA,0.70,15.1,1.20,3.8,14.60%,"32,898",167.0
3,10,Dartmouth,Dartmouth,Natural,24.7,SEMA,6.00,11.0,0.66,0.1,9.50%,"19,356",156.0
4,14,Doreen (1631),Pittsfield,Oil,21.1,WCMA,0.10,17.9,1.90,21.4,0%,"33,745",176.0
5,16,Framingham,Framingham,Oil,42.6,NEMA,0.10,30.7,2.90,16.8,4.10%,"68,444",160.0
6,18,Front Street,Chicopee,Oil,8.1,WCMA,0.70,10.2,0.82,32.1,NaN,"98,467",252.0
7,20,High Street,Ipswich,Natural,10.9,NEMA,0.20,10.5,0.73,28.7,NaN,"14,212",95.0
8,23,NaN,NaN,NaN,69.0,NaN,0.30,13.4,1.10,1.9,11.60%,"269,760",211.0
9,26,NaN,NaN,NaN,135.0,NaN,0.30,26.9,2.20,14.1,1.70%,"29,104",125.0
10,29,NaN,NaN,NaN,14.2,NaN,0.20,32.0,3.10,16.1,5.80%,"417,951",211.0
11,32,NaN,NaN,NaN,617.0,NaN,3.30,12.0,0.96,2.1,2.90%,"417,951",211.0
12,34,Nantucket,Nantucket,Oil,8.1,SEMA,0.30,15.7,1.30,14.2,NaN,"7,569",128.0
13,37,Oak Blu↵s,Oak Blu↵s,Oil,8.1,SEMA,0.90,10.2,0.82,33,NaN,"9,314",128.0
14,42,NaN,NaN,NaN,170.0,NaN,0.30,14.1,1.14,16.9,3.20%,"23,462",189.0
15,44,Thomas A.,Braintree,Natural,116.0,SEMA,4.30,9.7,0.61,0.2,2.40%,"105,621",169.0
16,47,Waters River,Peabody,Natural,64.9,NEMA,1.50,12.9,0.75,4.7,3.30%,"111,900",174.0
17,49,West Springfield,West,Natural,137.0,WCMA,2.10,10.1,0.61,0.5,4.10%,"127,116",254.0
18,51,West Springfield,West,Natural,113.6,WCMA,0.70,15.1,0.92,1.2,11.60%,"127,116",254.0
19,54,NaN,NaN,NaN,5.4,NaN,0.80,12.1,0.97,38.8,NaN,"3,068",76.0
20,56,Wilkins Station,Marble-,Oil,5.4,NEMA,0.10,9.2,0.73,30,NaN,"69,074",156.0
21,59,-1643,NaN,NaN,20.4,NaN,0.10,16.7,1.70,20.1,0%,"7,239",133.0

In [33]:
(sum(ind_CO2_FL)/len(ind_CO2_FL)+ sum(ind_CO2_NV)/len(ind_CO2_NV) + sum(ind_CO2_NJ)/len(ind_CO2_NJ) + sum(ind_CO2_NM)/len(ind_CO2_NM) + sum(ind_CO2_NY)/len(ind_CO2_NY) + sum(ind_CO2_TX)/len(ind_CO2_TX) + sum(ind_CO2_TX)/len(ind_CO2_TX) + sum(ind_CO2_CA)/len(ind_CO2_CA) + sum(ind_CO2_AZ)/len(ind_CO2_AZ) + sum(ind_CO2_MA)/len(ind_CO2_MA))/9*1000
#81.3million tons CO2 > 1%

81292560.52683312

In [34]:
sum(ind_CO2_FL)/len(ind_CO2_FL)

93836.025

In [35]:
df_CA

,Name (EIA ID),Status,County,Fuel,MW,Local_reliability_area,Age,Capacity_Factor,Run_hours/start,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,percent_non-white,percent_low-income,CEW
0,Agua Mansa (-55951),Operating,San Bernardino,Natural gas,61,LA Basin,16.0,1.80%,8.0,9.8,0.58,0.17,59%,"67,236",82%,20%,98*
1,Alameda (7450),Operating,Alameda,Natural gas,50,Greater Bay Area,33.0,2.00%,NaN,15.9,NaN,NaN,NaN,"141,999",71%,22%,74
2,Alamitos (315),Operating; retirement proposed,Los Angelos,Natural gas,1970,LA Basin,63.0,5.50%,163.0,12.3,0.73,0.11,54%,"119,565",32%,10%,95*14
3,Almond Power Plant (7315),Operating,Stanislaus,Natural gas,223,NaN,24.0,8.40%,18.9,9.8,0.59,0.10,%,"52,274",75%,26%,81*
4,Anaheim CT (7693),Operating,Orange,Natural gas,49,LA Basin,28.0,12.30%,7.7,9.5,0.57,0.20,35%,"169,119",63%,14%,75*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Panoche (55874),NaN,NaN,gas,NaN,Fresno,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Wolfskill Energy,Operating,Solano,Natural,48,NaN,17.0,3.40%,4.2,11.2,0.67,0.20,9%,"30,608",65%,17%,73
123,Center (55855),NaN,NaN,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,Yuba City Energy,Operating,Sutter,Natural,48,Sierra,17.0,7.90%,NaN,11.7,NaN,NaN,NaN,"72,282",50%,19%,67
125,Center (55813),NaN,NaN,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN